@import url(http://fonts.googleapis.com/css?family=Russo+One);

body{
	margin: 0px;
	background-color: black;
	overflow: hidden;
	-webkit-user-select: none;
}
pre{
	font-family: inherit;
}
#game>canvas{
	margin: auto;
}

/*foundation over-rides*/
input.error, textarea.error, select.error{
	margin-bottom: 0;
	border-color: #f04124;
}
.reveal-modal.full{
	max-width: none;
}
.modal-button{
	font-size: 2rem;
	line-height: 1;
	position: absolute;
	top: 0.7rem;
	right: 0.8rem;
	color: #aaa;
	font-weight: bold;
	cursor: pointer;
}
.modal-button:hover{
	color: #777;
}
.reveal-modal{
	overflow-y: auto;
}
.reveal-modal-bg{
	display: none;
}
.tooltip{
	z-index: 9999;
}
.panel.full{
	height: 100%;
}
body, button, .button, select, .top-bar-section ul li > a, .pricing-table .title, .pricing-table .price, .tabs dd > a, .tabs .tab-title > a, .side-nav, .side-nav li.active > a:first-child:not(.button), .accordion .accordion-navigation > a, .accordion dd > a , h1, h2, h3, h4, h5, h6, .sub-nav li, .label{
	font-family: 'Russo One' !important;
}

/*tools*/
.scroll-y{
	overflow-y: scroll;
	overflow-x: hidden;
}
.pdebug{
	z-index: 2000;
}

/*loading*/
#loading-modal{
	display: flex !important;
	flex-direction: column;
	height: 70%;
}
#loading-modal>.top{
	width: 100%;
}
#loading-modal>.middle{
	width: 100%;
	height: 100%;
}
#loading-modal>.bottom{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
#loading-modal>.bottom>.label{
	margin: 0px;
}
#loading-modal>.bottom>#loading-bar{
	width: 100%;
	margin: 0px;
	margin-left: 20px;
	margin-right: 20px;
	border-color: grey;
}

#loading-show-log {
    position: fixed;
	bottom: 0px;
	right: 0px;
	margin: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding: 5px;
	font-size: 22px;
	padding-right: 15px;
	padding-left: 15px;
    transition: all 0.25s;
}
#loading-log {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 0px;
    background: rgba(255, 255, 255, 0.54);
    z-index: 1500;
    border-top: white 2px solid;
    border-radius: 5px;
    border-top-right-radius: 0px;
    padding-left: 10px;
    transition: all 0.25s;
}
#loading-log.showing {
    /* border-top: white 2px solid; */
    height: 50%;
}
#loading-log.showing #loading-show-log {
    bottom: 50%;
}
#loading-log-close{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	left: 0px;
	z-index: 1100;
	background: rgba(0,0,0,0.3);
}

/*loading-settings*/
#loading-settings{
	height: 70%;
}

/*connect*/
#connect-modal{
	display: flex !important;
	flex-direction: column;
	height: 80%;
	top: 10% !important;
}
#connect-modal>.middle{
	width: 100%;
	height: 100%;
}
#connect-modal .button{
	margin-bottom: 0px;
}
.server.selected{
	background: lightgrey;
}

/*loading*/
#loading{
	display: none;
	background: black;
	z-index: 1100;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
#loading .progress{
	position: absolute;
	top: 80%;
	width: 100%;
	background-color: rgba(0,0,0,0);
	border-color: rgba(255, 255, 255, 0.25);
	padding: 8px;
	height: 40px;
	border-right: none;
	padding-right: 0px;
	border-left: none;
	padding-left: 0px;
}
#loading .meter{
	background-color: rgb(0, 47, 86);
	box-shadow: 0px 0px 20px 5px rgb(0, 47, 86);
}

/*menu*/
#keybinding{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	color: lightgrey;
	z-index: 1100;
	text-align: center;
	top: 0px;
}

/*chat*/
#chat{
	position: absolute;
	left: 0px;
	top: -35px;
	padding: 0px 10px 10px;
	min-width: 400px;
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);

	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
#chat.open{
	top: 10px;
	left: 10px;

	background-color: #f2f2f2;
	border-color: #d8d8d8;
}

/*chanels*/
#chat .tab-title a{
	padding: 5px 10px;
}
#chat .close-chanel{
	color: lightgray;
	cursor: pointer;
	margin-left: 5px;
}
#chat .close-chanel:hover{
	color: black;
}

/*message*/
#chat .messages{
	height: 250px;
	overflow: hidden;
}
#chat.open .messages{
	overflow-y: auto;
}
#chat form{
	display: none;

	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
#chat.open form{
	display: block;

	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
#chat .tabs{
	opacity: 0;

	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
#chat.open .tabs{
	opacity: 1;

	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
#chat .message{
	width: 78%;
	margin: 0px;
	display: inline-block;
	height: 32px;
}
#chat .sendMessage{
	width: 20%;
	margin: 0px;
	display: inline-block;
	height: 32px;
}

/*colors*/
.green{
	color: darkgreen;
}
.cyan{
	color: darkcyan;
}
.yellow{
	color: yellow;
}
.red{
	color: red;
}

/*inventory*/
#inventory{
	height: 80%;
}
#inventory .item{
	padding: 10px;
	height: 86px;
}
#inventory .item>img{
	height: 64px;
	width: auto;
	float: left;
	margin-right: 10px;
}